<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
   <title>新闻动态 玉林北流万点星辰络科技有限公司、北流网站建设、北流微信小程序、北流APP</title>
   <meta name="keywords" content="新闻动态,关于万点星辰科技有限公司新闻动态" />
   <meta name="description" content="玉林北流万点星辰络科技有限公司、北流网站建设开发、北流微信小程序开发、北流APP开发、北流微信公众号开发">
   <meta name="author" content="北流万点星辰网络科技">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="baidu-site-verification" content="tBwZ6Fxcdt" />
  <meta name="360-site-verification" content="c69a34db1c7aebca6a6c16fa9c65f1ae" />
  
  <link rel="alternate icon" type="__static__/img/2.png" href="__static__/img/2.png">
  <link rel="stylesheet" href="__static__/css/amazeui.css"/>
  <link rel="stylesheet" href="__static__/css/style.css"/>
</head>
<body>
{include file="public:header" /}
<div class="toppic">
	 <div class="am-container-1">
	 <div class="toppic-title left">
			<i class="am-icon-newspaper-o toppic-title-i"></i>
			<span class="toppic-title-span">新闻动态</span>
			<p>Hengwang News</p>
		</div>
		<div class="right toppic-progress">
			<span><a href="{:url('Index/index')}" class="w-white">首页</a></span>
			<i class=" am-icon-arrow-circle-right w-white"></i>
			<span><a href="{:url('News/index')}" class="w-white">新闻动态</a></span>
		</div>
	</div>
</div>


<link href="/static/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">	
<div class="am-container-1 news-content-all">
<div class="left am-u-sm-12 am-u-md-8 am-u-lg-9 ">
	  <ul class="news-ul">
	  	{foreach $data as $v}
	  	<li class="am-u-sm-12 am-u-md-6 am-u-lg-4 ">
	  		<a href="{:url('News/info',['id'=>$v['id']])}">
	  		<div class="news-ul-liall">
	  		  	<img class="news-ul-liimg" src="__uploads__/{$v.photo}"/>		  	  		  	 
	  		  <div class="inform-list">
		  		  	<div class="inform-list-date"><i class="am-icon-arrow-circle-right"></i>{$v.create_time|date='Y-m-d',###}</div>
		  		  	<div class="inform-list-label"><i class="am-icon-arrow-circle-right"></i>{$v.name}</div>
		  		  	<div class="inform-list-numb"><i class="am-icon-arrow-circle-right"></i>点击次数：{$v.views}</div>
	  		  </div>		  
	  		  <span>{$v.title}</span>
	  		  <p>{$v.remark}</p>
	  	    <span class="see-more3">查看更多<i class="am-icon-angle-double-right"></i></span>
	  	  </div>
	  	  </a>
	  	</li>
	  	{/foreach}
	  	<div class="clear"></div>
		</ul>
		{$data->render()}	  
</div>	  

<div class="left am-u-sm-12 am-u-md-4 am-u-lg-3">
	
	<section data-am-widget="accordion" class="am-accordion am-accordion-gapped" data-am-accordion='{  }'>
		<div class="hot-title"><i class="am-icon-thumbs-o-up"></i>热门新闻 / Hot 	News</div>
		{foreach $hot as $k=>$v}
      <dl class="am-accordion-item {if condition='$k eq 0'}am-active{/if}">
        <dt class="am-accordion-title">
          {$v.title}
        </dt>
        <dd class="am-accordion-bd am-collapse {if condition='$k eq 0'}am-in{/if}">
          <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
          <div class="am-accordion-content">
            {$v.remark}
          </div>
        </dd>
      </dl>
      {/foreach}
      
      
  </section>
	
</div>

<div class="clear"></div>
</div>
{include file="public:foot" /}