<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
   <title>客户案例详情 玉林北流万点星辰络科技有限公司、北流网站建设、北流微信小程序、北流APP</title>
   <meta name="keywords" content="客户案例详情,关于万点星辰科技有限公司客户案例" />
   <meta name="description" content="玉林北流万点星辰络科技有限公司、北流网站建设开发、北流微信小程序开发、北流APP开发、北流微信公众号开发">
   <meta name="author" content="北流万点星辰网络科技">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="baidu-site-verification" content="tBwZ6Fxcdt" />
  <meta name="360-site-verification" content="c69a34db1c7aebca6a6c16fa9c65f1ae" />
  
  <link rel="alternate icon" type="__static__/img/2.png" href="__static__/img/2.png">
  <link rel="stylesheet" href="__static__/css/amazeui.css"/>
  <link rel="stylesheet" href="__static__/css/style.css"/>
</head>
<body>
{include file="public:header" /}
<div class="toppic">
	 <div class="am-container-1">
	 <div class="toppic-title left">
			<i class="am-icon-paper-plane toppic-title-i"></i>
			<span class="toppic-title-span">案例详情</span>
			<p>Case Information</p>
		</div>
		<div class="right toppic-progress">
			<span><a href="{:url('Customer/index')}" class="w-white">客户案例</a></span>
			<i class=" am-icon-arrow-circle-right w-white"></i>
			<span><a href="{:url('Customer/info')}" class="w-white">案例详情</a></span>
		</div>
	</div>
</div>



<div >
	<div class=" product-show-ul">
	   
	    	<div class="product-content">
			    	<div class="left am-u-sm-12 am-u-md-6 am-u-lg-6 product-content-left case-left">
			    		<div class="product-show-title">
			    			<h3>{$data.title}</h3>
			    		</div>
			    	
			    	<div class="product-show-content">			    		
			    		<div class="product-intro case-inform">
			    			<span>详情介绍：</span>
			    			<div><p>{$data.content}</p></div>
			    		  <i class="am-icon-tasks"></i>
			    		  <!--<img src="__uploads__/{$data.img}" />-->
			    		</div>
			    	</div>
			    	</div>
			    	<div class="right am-u-sm-12 am-u-md-6 am-u-lg-6 product-content-right">
			    		<img class="case-img" src="__uploads__/{$data.img}" />
			    	</div>	
			    	<div class="clear"></div>
	    	</div>
	

	</div>
</div>

  
   
		
</div>

{include file="public:foot" /}